*.class
*.png
*.jar
*.properties
*.lst
*.so
*.db
*.MF
target/classes/META-INF/maven/org.xerial/sqlite-jdbc/VERSION
target/classes/META-INF/maven/org.xerial/sqlite-jdbc/LICENSE
target/classes/META-INF/maven/org.xerial/sqlite-jdbc/LICENSE.zentus
target/classes/META-INF/services/java.sql.Driver
target/dependency-maven-plugin-markers/org.xerial-sqlite-jdbc-jar-3.8.11.2.marker
*.xml
*.c
*.jnilib
*.dll
target/
LSCTIC.iml
