.root {
    -fx-font-family: 'BebasNB';
}
.fields-label {
    -fx-font-size: 12px;
    -fx-font-family: 'BebasNB';
     -fx-text-fill: #8A82A1;
}
.address-label{
-fx-font-size: 11px;
    -fx-font-family: 'BebasNB';
}
.textfield-search{
    -fx-background-color: #4F3DA5;
    -fx-selected-color:  transparent ;
    -fx-text-fill: white;

}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:60px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #4F3DA5;
    -fx-focus-color: transparent;

}

.tab-pane .tab:selected
{
    -fx-background-color: #262D46 ;
    -fx-text-fill: white;
    -fx-focus-color: transparent;

}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #8A82A1;
    -fx-font-size: 10px;
    -fx-font-family: 'BebasNB';
    -fx-focus-color: transparent;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-focus-color: white;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}


.button-error {
    -fx-background-color: indianred;
    -fx-text-fill: white;
    -fx-padding: 8 26 8 26;
    -fx-border-color: indianred;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-focus-color: transparent;
    -fx-border-insets: -1;
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
}

.button-error:hover {
    -fx-background-color: white;
    -fx-text-fill: indianred;
    -fx-padding: 8 26 8 26;
     -fx-border-color: indianred;
     -fx-focus-color: transparent;
    -fx-border-insets: -1;

}
.button-error:focused{
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}
.button-accept {
    -fx-background-color: teal;
    -fx-text-fill: white;
    -fx-padding: 8 26 8 26;
    -fx-border-color: teal;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-focus-color: transparent;
    -fx-border-insets: -1;
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
}
.button-accept:hover {
    -fx-background-color: white;
    -fx-text-fill: teal;
    -fx-padding: 8 26 8 26;
    -fx-border-color: teal;
    -fx-focus-color: transparent;
    -fx-border-insets: -1;
}
.button-accept:focused{
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}